# Enable TLS support
CONFIG_TLS_ENABLE=y
CONFIG_ESP_TLS_SERVER=y

# Use custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
